In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [3]:
train_df = pd.read_excel("Data_Train.xlsx", engine='openpyxl',)
train_df.head()

       Airline Date_of_Journey    Source Destination                  Route Dep_Time  Arrival_Time Duration Total_Stops Additional_Info  Price
0       IndiGo      24/03/2019  Banglore   New Delhi              BLR → DEL    22:20  01:10 22 Mar   2h 50m    non-stop         No info   3897
1    Air India       1/05/2019   Kolkata    Banglore  CCU → IXR → BBI → BLR    05:50         13:15   7h 25m     2 stops         No info   7662
2  Jet Airways       9/06/2019     Delhi      Cochin  DEL → LKO → BOM → COK    09:25  04:25 10 Jun      19h     2 stops         No info  13882
3       IndiGo      12/05/2019   Kolkata    Banglore        CCU → NAG → BLR    18:05         23:30   5h 25m      1 stop         No info   6218
4       IndiGo      01/03/2019  Banglore   New Delhi        BLR → NAG → DEL    16:50         21:35   4h 45m      1 stop         No info  13302

In [4]:
test_df = pd.read_excel("Test_set.xlsx", engine='openpyxl',)
test_df.head()

             Airline Date_of_Journey    Source Destination            Route Dep_Time  Arrival_Time Duration Total_Stops              Additional_Info
0        Jet Airways       6/06/2019     Delhi      Cochin  DEL → BOM → COK    17:30  04:25 07 Jun  10h 55m      1 stop                      No info
1             IndiGo      12/05/2019   Kolkata    Banglore  CCU → MAA → BLR    06:20         10:20       4h      1 stop                      No info
2        Jet Airways      21/05/2019     Delhi      Cochin  DEL → BOM → COK    19:15  19:00 22 May  23h 45m      1 stop  In-flight meal not included
3  Multiple carriers      21/05/2019     Delhi      Cochin  DEL → BOM → COK    08:00         21:00      13h      1 stop                      No info
4           Air Asia      24/06/2019  Banglore       Delhi        BLR → DEL    23:55  02:45 25 Jun   2h 50m    non-stop                      No info

In [19]:
final_df = train_df.append(test_df)
final_df.tail()

                Airline Date_of_Journey   Source Destination            Route Dep_Time  Arrival_Time Duration Total_Stops Additional_Info  Price
2666          Air India       6/06/2019  Kolkata    Banglore  CCU → DEL → BLR    20:30  20:25 07 Jun  23h 55m      1 stop         No info    NaN
2667             IndiGo      27/03/2019  Kolkata    Banglore        CCU → BLR    14:20         16:55   2h 35m    non-stop         No info    NaN
2668        Jet Airways       6/03/2019    Delhi      Cochin  DEL → BOM → COK    21:50  04:25 07 Mar   6h 35m      1 stop         No info    NaN
2669          Air India       6/03/2019    Delhi      Cochin  DEL → BOM → COK    04:00         19:15  15h 15m      1 stop         No info    NaN
2670  Multiple carriers      15/06/2019    Delhi      Cochin  DEL → BOM → COK    04:55         19:15  14h 20m      1 stop         No info    NaN

In [20]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [21]:
# Missing Value
final_df.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

## Feature Engineering

In [22]:
#final_df['Date']=final_df["Date_of_Journey"].apply(lambda x:x.split('/')[0])
#final_df['Month']=final_df["Date_of_Journey"].apply(lambda x:x.split('/')[1])
#final_df['Year']=final_df["Date_of_Journey"].apply(lambda x:x.split('/')[2])

final_df['Date']=final_df["Date_of_Journey"].str.split('/').str[0]
final_df['Month']=final_df["Date_of_Journey"].str.split('/').str[1]
final_df['Year']=final_df["Date_of_Journey"].str.split('/').str[2]

In [23]:
final_df.head()

       Airline Date_of_Journey    Source Destination                  Route Dep_Time  ... Total_Stops Additional_Info    Price Date  Month  Year
0       IndiGo      24/03/2019  Banglore   New Delhi              BLR → DEL    22:20  ...    non-stop         No info   3897.0   24     03  2019
1    Air India       1/05/2019   Kolkata    Banglore  CCU → IXR → BBI → BLR    05:50  ...     2 stops         No info   7662.0    1     05  2019
2  Jet Airways       9/06/2019     Delhi      Cochin  DEL → LKO → BOM → COK    09:25  ...     2 stops         No info  13882.0    9     06  2019
3       IndiGo      12/05/2019   Kolkata    Banglore        CCU → NAG → BLR    18:05  ...      1 stop         No info   6218.0   12     05  2019
4       IndiGo      01/03/2019  Banglore   New Delhi        BLR → NAG → DEL    16:50  ...      1 stop         No info  13302.0   01     03  2019

[5 rows x 14 columns]

In [24]:
final_df['Date'] = final_df['Date'].astype(int)
final_df['Month'] = final_df['Month'].astype(int)
final_df['Year'] = final_df['Year'].astype(int)
final_df.drop(["Date_of_Journey"],axis=1,inplace=True)
final_df.head()

       Airline    Source Destination                  Route Dep_Time  Arrival_Time Duration Total_Stops Additional_Info    Price  Date  Month  Year
0       IndiGo  Banglore   New Delhi              BLR → DEL    22:20  01:10 22 Mar   2h 50m    non-stop         No info   3897.0    24      3  2019
1    Air India   Kolkata    Banglore  CCU → IXR → BBI → BLR    05:50         13:15   7h 25m     2 stops         No info   7662.0     1      5  2019
2  Jet Airways     Delhi      Cochin  DEL → LKO → BOM → COK    09:25  04:25 10 Jun      19h     2 stops         No info  13882.0     9      6  2019
3       IndiGo   Kolkata    Banglore        CCU → NAG → BLR    18:05         23:30   5h 25m      1 stop         No info   6218.0    12      5  2019
4       IndiGo  Banglore   New Delhi        BLR → NAG → DEL    16:50         21:35   4h 45m      1 stop         No info  13302.0     1      3  2019

In [27]:
# Arrival Time
final_df["Arrival_Time"] = final_df["Arrival_Time"].apply(lambda x:x.split(" ")[0])

final_df["Arrival_Hour"] = final_df["Arrival_Time"].apply(lambda x:x.split(":")[0])
final_df["Arrival_Minute"] = final_df["Arrival_Time"].apply(lambda x:x.split(":")[1])
final_df['Arrival_Hour'] = final_df['Arrival_Hour'].astype(int)
final_df['Arrival_Minute'] = final_df['Arrival_Minute'].astype(int)
final_df.drop(["Arrival_Time"],axis=1,inplace=True)
final_df.head()

       Airline    Source Destination                  Route Dep_Time Duration  ...    Price Date  Month  Year  Arrival_Hour  Arrival_Minute
0       IndiGo  Banglore   New Delhi              BLR → DEL    22:20   2h 50m  ...   3897.0   24      3  2019             1              10
1    Air India   Kolkata    Banglore  CCU → IXR → BBI → BLR    05:50   7h 25m  ...   7662.0    1      5  2019            13              15
2  Jet Airways     Delhi      Cochin  DEL → LKO → BOM → COK    09:25      19h  ...  13882.0    9      6  2019             4              25
3       IndiGo   Kolkata    Banglore        CCU → NAG → BLR    18:05   5h 25m  ...   6218.0   12      5  2019            23              30
4       IndiGo  Banglore   New Delhi        BLR → NAG → DEL    16:50   4h 45m  ...  13302.0    1      3  2019            21              35

[5 rows x 14 columns]

In [30]:
# Departure Time
final_df["Dep_Time"] = final_df["Dep_Time"].apply(lambda x:x.split(" ")[0])

final_df["Dept_Hour"] = final_df["Dep_Time"].apply(lambda x:x.split(":")[0])
final_df["Dept_Minute"] = final_df["Dep_Time"].apply(lambda x:x.split(":")[1])
final_df['Dept_Hour'] = final_df['Dept_Hour'].astype(int)
final_df['Dept_Minute'] = final_df['Dept_Minute'].astype(int)
final_df.drop(["Dep_Time"],axis=1,inplace=True)
final_df.head()

       Airline    Source Destination                  Route Duration Total_Stops  ... Month  Year  Arrival_Hour  Arrival_Minute  Dept_Hour  Dept_Minute
0       IndiGo  Banglore   New Delhi              BLR → DEL   2h 50m    non-stop  ...     3  2019             1              10         22           20
1    Air India   Kolkata    Banglore  CCU → IXR → BBI → BLR   7h 25m     2 stops  ...     5  2019            13              15          5           50
2  Jet Airways     Delhi      Cochin  DEL → LKO → BOM → COK      19h     2 stops  ...     6  2019             4              25          9           25
3       IndiGo   Kolkata    Banglore        CCU → NAG → BLR   5h 25m      1 stop  ...     5  2019            23              30         18            5
4       IndiGo  Banglore   New Delhi        BLR → NAG → DEL   4h 45m      1 stop  ...     3  2019            21              35         16           50

[5 rows x 15 columns]

In [31]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Date             13354 non-null  int64
 9   Month            13354 non-null  int64
 10  Year             13354 non-null  int64
 11  Arrival_Hour     13354 non-null  int64
 12  Arrival_Minute   13354 non-null  int64
 13  Dept_Hour        13354 non-null  int64
 14  Dept_Minute      13354 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 1.9+ MB

In [41]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [45]:
final_df.loc[final_df['Total_Stops'].isnull(),['Total_Stops']]="non-stop"

In [46]:
final_df[final_df['Total_Stops'].isnull()]

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_Hour, Arrival_Minute, Dept_Hour, Dept_Minute]
Index: []

In [47]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0, '1 stop':1, '2 stops':2, '3 stops':3, '4 stops':4})

In [48]:
final_df.drop(["Route"],axis=1,inplace=True)

In [49]:
final_df.Additional_Info.unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [71]:
final_df["Duration"].str.split(' ').str[0].str.split("h").str[0].unique()#.astype(int)*60

array(['2', '7', '19', '5', '4', '15', '21', '25', '13', '12', '26', '22',
       '23', '20', '10', '6', '11', '8', '16', '3', '27', '1', '14', '9',
       '18', '17', '24', '30', '28', '29', '37', '34', '38', '35', '36',
       '47', '33', '32', '31', '42', '39', '5m', '41', '40'], dtype=object)

In [74]:
final_df["Duration"].tail()

2666    23h 55m
2667     2h 35m
2668     6h 35m
2669    15h 15m
2670    14h 20m
Name: Duration, dtype: object

In [75]:
final_df["Duration"] = final_df["Duration"].str.replace("h","*60").str.replace("m","*1").str.replace(" ","+").apply(eval)

In [76]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Duration         13354 non-null  int64
 4   Total_Stops      13354 non-null  int64
 5   Additional_Info  13354 non-null  object
 6   Price            10683 non-null  float64
 7   Date             13354 non-null  int64
 8   Month            13354 non-null  int64
 9   Year             13354 non-null  int64
 10  Arrival_Hour     13354 non-null  int64
 11  Arrival_Minute   13354 non-null  int64
 12  Dept_Hour        13354 non-null  int64
 13  Dept_Minute      13354 non-null  int64
dtypes: float64(1), int64(9), object(4)
memory usage: 1.8+ MB

In [77]:
final_df.drop(6474,axis=0,inplace=True)
final_df.drop(2660,axis=0,inplace=True)

In [78]:
final_df.head()

       Airline    Source Destination  Duration  Total_Stops Additional_Info  ...  Month  Year  Arrival_Hour  Arrival_Minute  Dept_Hour  Dept_Minute
0       IndiGo  Banglore   New Delhi       170            0         No info  ...      3  2019             1              10         22           20
1    Air India   Kolkata    Banglore       445            2         No info  ...      5  2019            13              15          5           50
2  Jet Airways     Delhi      Cochin      1140            2         No info  ...      6  2019             4              25          9           25
3       IndiGo   Kolkata    Banglore       325            1         No info  ...      5  2019            23              30         18            5
4       IndiGo  Banglore   New Delhi       285            1         No info  ...      3  2019            21              35         16           50

[5 rows x 14 columns]

In [79]:
final_df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [82]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder() 
final_df['Airline'] = lb.fit_transform(final_df['Airline'])

In [83]:
final_df['Source'] = lb.fit_transform(final_df['Source'])
final_df['Destination'] = lb.fit_transform(final_df['Destination'])
final_df['Additional_Info'] = lb.fit_transform(final_df['Additional_Info'])

In [84]:
final_df.shape

(13351, 14)

In [85]:
final_df.head(2)

   Airline  Source  Destination  Duration  Total_Stops  Additional_Info  ...  Month  Year  Arrival_Hour  Arrival_Minute  Dept_Hour  Dept_Minute
0        3       0            5       170            0                8  ...      3  2019             1              10         22           20
1        1       3            0       445            2                8  ...      5  2019            13              15          5           50

[2 rows x 14 columns]

In [86]:
final_df[['Airline']]

      Airline
0           3
1           1
2           4
3           3
4           3
...       ...
2666        1
2667        3
2668        4
2669        1
2670        6

[13351 rows x 1 columns]

In [89]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
ohe.fit_transform(np.array(final_df['Airline']).reshape(-1,1))

<13351x12 sparse matrix of type '<class 'numpy.float64'>'
	with 13351 stored elements in Compressed Sparse Row format>